.navbar {
    position: sticky;
    top: 0; 
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #379683;
   }

.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  body{
      margin: 0;
  }